*{
   padding: 0;
   margin: 0;
   line-height: 1.5;
   box-sizing: border-box;
}

html,body{
   min-height: 100vh;
   font-family: 'Kumbh Sans', sans-serif;
   font-size: 16px;
   // margin: auto;
}

a{
   text-decoration: none;
   color: black;
   &:active, &:visited{
      color: black;
   }
}

li{
   list-style: none;
   font-size: 20px;
}

.wrapper{
   // display: flex;
   // align-items: center;
   // // justify-content: center;
   // flex-direction: column;
   padding: 20px 10px;
   height: 100vh;
   margin: auto;
   max-width: 1440px;
}

header{
   max-width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
   position: relative;

   .nav-logo-flex{
      display: flex;
      gap: 30px;
      align-items: center;
      

      #logo{
         // width: 15%;
         height: 30px;
         align-self: flex-start;
         cursor: pointer;
         margin-right: 40px;
      }
   
      nav{
         display: flex;
         justify-content: flex-end;
         ul{
            display: flex;
            gap: 50px;
            transition: .3s ease-in-out;
            
            li{
               // border-bottom: 1px solid black;

               a{
                  color: hsl(219, 9%, 45%);

               &:hover{
                  color: hsl(220, 13%, 13%);
               }
               }
               
            }
         }

         .hamburger{
            display: none;
            cursor: pointer;
         }
   
      }
   }
   
   .basket-avatar-flex{
      display: flex;
      gap: 50px;
      align-items: center;

      #avatar{
         max-height: 75px;
         border-radius: 50%;

         &:hover{
            border: 1px solid hsl(26, 100%, 55%);
         }
      }

      .basket-block{
         position: relative;

         #basket{
            height: 30px;
            cursor: pointer;
         }
   
         .backet-count{
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -10px;
            left: 10px;
            // text-align: center;
            height: 20px;
            width: 35px;
            border-radius: 20px;
            background-color: hsl(26, 100%, 55%);
            color: hsl(0, 0%, 100%);
         }

         .cart__list-block {
            display: none;
            width: 400px;
            position: absolute;
            top: 75px;
            right: -150px;
            background-color: hsl(0, 0%, 100%);
            box-shadow: 4px 7px 20px 0 hsl(219, 9%, 45%);
            border-radius: 10px;

            .cart__list-container {
               display: flex;
               flex-direction: column;
               padding: 20px;
               // align-items: center;

               .cart__list-info {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  // gap: 50px;

                  .cart__list-img-block {
                     width: 75px;
                     overflow: hidden;
                     // height: 50px;
                     img{
                        max-width: 100%;
                        border-radius: 7px;
                     }
                  }

                  .cart__list-info-block {
                     .cart__list-title {}

                     .cart__list-price {
                        .cart__list-count {}

                        .cart__list-sum-price{
                           font-weight: 700;
                        } 
                     }
                  }

                  #delete{

                  }
               }

               .cart__list-button {
                  margin-top: 20px;
                  align-self: center;
                  color: hsl(0, 0%, 100%);
                  background: hsl(26, 100%, 55%);
                  border-radius: 10px;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 50px;
               }
            }
         }

         .backet-count.active{
            display: flex;
         }

         .cart__list-block.active{
            display: block;
         }
      }

      
   }
   
}

main{
   max-width: 100%;
   padding: 50px;
   margin-top: 30px;
   margin-bottom: 100px;
   display: flex;
   justify-content: space-between;
   .img-block{
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .arrow{
         display: none;
      }

      img{
         border-radius: 10px;
         width: 20%;
      }

      #main-img{
         // display: block;
         width: 100%;
         cursor: pointer;
      }

      .img__slider-block{
         display: flex;
         justify-content: space-between;
         cursor: pointer;
         // gap: 24px;

         img.active{
            opacity: .5;
            border: 1px solid hsl(26, 100%, 55%);
         }

         img{
            transition: .4s ease-in-out;
            &:hover{
               opacity: .5;
            }
         }
      }

   }

   .product{
      padding: 20px;
      width: 45%;

      .product__container{
         display: flex;
         flex-direction: column;
         // justify-content: space-around;
         height: 80%;
         gap: 30px;
      }

      .product__preview{
         color: hsl(26, 100%, 55%);
      }

      .product__title{
         font-size: 38px;
      }

      .product__subtitle{
         color: hsl(219, 9%, 45%);
      }

      .product__price-new{
         display: flex;
         align-items: center;
         .product__price{
            font-weight: 700;
            font-size: 24px;
            margin-right: 30px;
         }

         .product__discount{
            background: hsl(25, 100%, 94%);
            color: hsl(26, 100%, 55%);
            width: 40px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }

      .product__price-old{
         text-decoration: line-through;
         color: hsl(220, 14%, 75%);
      }

      .product__selecter{
         display: flex;
         // justify-content: space-between;
         gap: 50px;
         align-items: center;

         .product__counter{
            display: flex;
            gap: 20px;

            .product__minus, .product__plus, .product__counter-count{
               width: 40px;
               height: 40px;
               background: hsl(223, 64%, 98%);
               border-radius: 5px;
               display: flex;
               align-items: center;
               justify-content: center;
               cursor: pointer;

               &:hover{
                  opacity: .6;
               }
            }

            .product__counter-count{
               font-weight: 700;
            }
         }

         .product__add{
            // width: 100px;
            padding: 15px 15%;
            display: flex;
            justify-content: center;
            gap: 10px;
            color: hsl(0, 0%, 100%);
            background-color: hsl(26, 100%, 55%);
            border-radius: 10px;
            border: none;
            box-shadow: 0px 10px 20px 0px hsl(26, 100%, 55%);
            cursor: pointer;

            &:hover{
               opacity: .6;
            }

            img{
               filter: brightness(100);
            }

            span{
               font-size: 18px;
            }
         }
      }
   }
}

.popup{
   display: none;
   background: rgba($color: hsl(0, 0%, 0%), $alpha: .9);
   // opacity: 1;
   height: 100vh;
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 1000;

   .popup__container{
      margin: auto;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      z-index: 1000;

      .img-block{
         max-width: 60%;
         display: flex;
         flex-direction: column;
         gap: 20px;
         justify-content: center;
         align-items: center;
         margin: auto;
         position: relative;
   
         p{
            position: absolute;
            top: -5%;
            right: -20%;
            font-size: 36px;
            color: hsl(0, 0%, 100%);
            cursor: pointer;

            &:hover{
               color: hsl(26, 100%, 55%);
            }
         }

         img{
            border-radius: 10px;
            width: 18%;
            cursor: pointer;
            opacity: 1;
         }

         .arrow{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: hsl(0, 0%, 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 40%;
            cursor: pointer;

            &:first-child{
               left: -4%;
            }

            &:nth-child(3){
               right: -4%;
            }
         }
   
         #popup-main-img{
            // display: block;
            width: 100%;
         }
   
         .img__slider-block{
            display: flex;
            justify-content: space-around;
            // gap: 24px;
   
            img.active{
               opacity: .5;
               border: 1px solid hsl(26, 100%, 55%);
            }
   
            img{
               transition: .4s ease-in-out;
               &:hover{
                  opacity: .5;
               }
            }
         }
   
      }
   }
}

@media (max-width: 1024px){

   .wrapper.active{
      background: rgba($color: hsl(0, 0%, 0%), $alpha: .75);
   }
   header{

      .nav-logo-flex{
         flex-direction: row-reverse;

         #logo.active{
            display: none;
         }

         nav{
            // position: fixed;
            left: 40px;

            // z-index: 700;
            .hamburger{
               display: block;
               transition: .3s ease-in;
               align-self: baseline;
               z-index: 700;

               img{
                  height: 25px;
                  transition: .4s ease-out;
               }
            }
   
            ul{
               position: fixed;
               left: -100%;
               flex-direction: column;
               gap: 0;
               margin-top: -75px;
               height: 200vh;
               padding: 35px;
               gap: 30px;
               font-weight: 700;

               li{
                  &:first-child{
                     margin-top: 100px;
                  }
               }
            }

            ul.active{
               left: 0;
               background: #fff;
               width: 65%;
               z-index: 600;
               overflow-y: hidden;

               li{
                  
                  a{
                     color: hsl(220, 13%, 13%);
                  }
                  
               }
            }
         }
      }
   }

   main{
      .product{
         
         .product__container{

            .product__selecter{
               // align-items: center;
               button{
                  width: 100%;
                  height: 60px;
                  justify-content: center;
                  align-items: center;
                  padding: 5px;
                  // gap: 25px;
                  // font-size: 10px;
                  // margin-bottom: 40px;

                  span{
                     font-size: 16px;
                  }
               }
            }
         }

      }
   }

   .popup{
   
      .popup__container{
   
         .img-block{
            max-width: 40%;
         }
      }
   }
}

@media (max-width: 912px){
   main{
      padding: 30px;
      .product{
         
         .product__container{

            .product__selecter{
               // align-items: center;
               gap: 10px;
               button{
                  width: 100%;
                  height: 60px;
                  justify-content: center;
                  align-items: center;
                  padding: 5px;
                  // gap: 25px;
                  // font-size: 10px;
                  // margin-bottom: 40px;

                  span{
                     font-size: 12px;
                  }
               }

               .product__counter{
                  gap: 5px;
               }
            }
         }

      }
   }
}

@media (max-width: 540px){

   .wrapper{
      padding: 0;
      max-width: 375px
   }

   hr{
      display: none;
   }

   header{
      .nav-logo-flex, .basket-avatar-flex{
         justify-content: none;
         align-items: center;
         gap: 10px;
      }

      .basket-avatar-flex{
         .basket-block{
            .cart__list-block.active{
               z-index: 400;
               // height: 300px;
               width: 300px;
               top: 100px;
               right: -40px;

               #delete{
                  width: 10%;
               }
            }
         }
      }

      .nav-logo-flex{
         nav{

            .hamburger{
               align-self: baseline;
            }
            
         }
      }

      img{
         width: 60%;
         // height: 60%;
      }
   }

   main{
      flex-direction: column;
      padding: 0;
      margin: 0;

      .img-block{
         height: 371px;
         width: 100%;
         position: relative;

         #main-img{
            width: 100%;
            border-radius: 0;
         }

         .arrow{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: hsl(0, 0%, 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 40%;
            cursor: pointer;

            &:first-child{
               left: 5%;
            }

            &:nth-child(3){
               right: 5%;
            }
         }

         .img__slider-block{
            display: none;
         }
      }

      .product{
         width: 100%;
         padding: 10px;
         
         .product__container{
            gap: 10px;

            .product__selecter{
               flex-direction: column;
               gap: 20px;
               button{
                  width: 100%;
                  height: 60px;
                  justify-content: center;
                  align-items: center;
                  padding: 5px;
                  gap: 20px;
                  font-size: 10px;
                  margin-bottom: 40px;
               }
            }
         }

      }
   }
}